@import url(reset.css);

/* CSS rules to specify families:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/
/* tipografia deseadas desde google fonts 
https://fonts.google.com/ (search-select-embebed-import)*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* iconos tipograficos desde fontawesome 5 cdn
https://cdnjs.com/libraries/font-awesome (primer link) */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

/* cajas crecen hacia dentro */
*{
    box-sizing: border-box;
}
/* declarar variables */
:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;

}
/* 1em le dejo al usuario libertad para aumentar tamano de pagina en su pc */
body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}
/* siempre para responsive */
img{
    width: 100%;
    height: auto;
    display: block;
}
/* para crear ancho encorsetado */
.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}
/* para elementos flotantes */
.row{
    display: flex;
}
html {
    scroll-behavior: smooth;
}

/* INICIO header */

/* maquetando mobilefirst */
/* navegador superior */
header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    /* top-bottom | right-left */
}
header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}
/* no se ve en formato movil */
header .nav_top a span{
    display: none;
}
header .nav_top a i{
    color: var(--color-principal);
}
/* distribuir elementos dentro del mismo contenedor (caja), reparto equitativo espacio entre ellos*/
header .nav_top .row{
    justify-content: space-between;
}

/* navegador inferior */
header nav{
    padding: 20px 10px;
}
header .hamburguesa{
    width: 50px;
    cursor: pointer;
}
header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;
}
/* logo y hamburgesa ocupando el 50% */
header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ul ocupando al 100% */
header nav ul{
    width: 100%;
}
/* tamno de la imagen */
header nav .logo{
    max-width: 110px;
}

/* items */
/* convierto todo el elemento (bloque) en boton */
header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}
header nav ul li a:hover{
    color: var(--color-principal);
}
/* en pagina activa siempre texto de boton en rojo */
header nav ul li .activo{
    color: var(--color-principal);
}

/* media queries tablet 768px */
/*  min-width define el mínimo tamaño que un elemento puede tener.
    min-width: todos los estilos especificados serán aplicados a partir del min-width hacia adelante. */
@media(min-width: 48em){
    header .nav_top a span{
        display: inline;
        
    }
}
/* tablet horizontal 1004px */
@media(min-width: 62.750em){
    header .hamburguesa{
        display: none;
    }
    /* reparte ancho automatico */
    header nav ul{
        width: auto;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        padding: 5px 20px;
        /* border-bottom: none; */
        border-bottom: 0px;
    }  
    
}

/* FIN header */

/* INICIO footer */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;
    /* cambio en position y pierdo el ancho - volver a definir */
    width: 100%;
    margin-top: 20px;
    bottom: 0px;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
}

@media(min-width: 48em){
    footer{
        text-align: left;
        
    }
}

/* FIN footer */

/* INICIO main section menu */

main .wrapper{
     background-color: var(--color-secundario);
 }

main section{
    padding: 4em 6.5em;
}
main section h2{
    color: white;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color: var(--color-principal);
}
main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}
main section .underline hr{
    position: absolute;
    width: 100%;
    top: -2px;
    border-color: var(--color-principal);
    /* hr es un borde (linea=borde) al subirlo una capa y al no tener ancho ni alto = no se ve. necesito darle ancho */
}
/* doy un disposicion flexible particular a esta section flex wrap adapta al 100% del elemento */
main #menu .row{
    flex-wrap: wrap;
    margin-bottom: 30px;
}
main aside{
    margin-top: 3em;
}
/* ul ocupando al 100% */
main nav ul{
    width: 100%;
}
/* items */
/* convierto todo el elemento (bloque) en boton */
main nav ul li a{
    display: block;
    text-align: left;
    font-size: 0.9em;
    text-decoration: none;
    padding: 10px;
    color: white;
}
main nav ul li .activo{
    background-color: var(--color-principal);
    border-radius: 8px;
}
main nav ul li a:hover{
    background-color: var(--color-principal);
    border-radius: 8px;
}

aside div h3{
    color: white;
    font-weight: 700;
}
main section .underline_dos{
    position: relative;
    width: 3.5em;
    margin-bottom: 1.5em;
}
main section .underline_dos hr{
    position: absolute;
    width: 100%;
    margin-top: 10px;
    border-color: var(--color-principal);
}
aside div p{
    color: white;
    font-size: 0.95em;
    line-height: 20px;

}

section article{
    flex-direction: column;
    color: white;
    padding: 2.00em 0 0 0.6em;
}
section article h3{
    font-size: 1.05em;
    margin-top: 20px;
    font-weight: 700;
}
section article h3 span{
    color: var(--color-principal);
}
section article p{
    font-size: 0.85em;
    line-height: 10px; 
    margin: 20px 0;
}

.enlace{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 0.90em;
    font-weight: 700;
    display: block;
     /* a es una linea, pasarlo a block */
}

section .boton{
    color: var(--color-principal);
    display: block;
    position: absolute;
    font-size: 2.50em;
    right: 10px;
}

/* tablet horizontal 1004px */
@media(min-width: 62.750em){
    main section{
        flex-direction: row;
        padding: 4em 6.5em;
    }
    main #menu .row{
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }

    main section aside{
        width: 40%;
    }
    main section div:last-child{
        width: 60%;
    }
 

   



    section .boton{
        display: none;
    }
    

}

/* FIN main section menu */