@import url(reset.css);

/* CSS rules to specify families:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/
/* tipografia deseadas desde google fonts 
https://fonts.google.com/ (search-select-embebed-import)*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* iconos tipograficos desde fontawesome 5 cdn
https://cdnjs.com/libraries/font-awesome (primer link) */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

/* cajas crecen hacia dentro */
*{
    box-sizing: border-box;
}
/* declarar variables */
:root{
    --color-principal: #fa573a;
    --color-principal-opacity:  #fa573abb;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;

}
/* 1em le dejo al usuario libertad para aumentar tamano de pagina en su pc */
body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}
/* siempre para responsive */
img{
    width: 100%;
    height: auto;
    display: block;
}
/* para crear ancho encorsetado */
.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}
/* para elementos flotantes */
.row{
    display: flex;
}

/* INICIO header */

/* maquetando mobilefirst */
/* navegador superior */
header .nav_top{
    background-color: var(--color-secundario);
    /* top-bottom | right-left */
    padding: 20px 10px;
}
header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}
/* no se ve en formato movil */
header .nav_top a span{
    display: none;
}
header .nav_top a i{
    color: var(--color-principal);
}
/* distribuir elementos dentro del mismo contenedor (caja), reparto equitativo espacio entre ellos*/
header .nav_top .row{
    justify-content: space-between;
}

/* navegador inferior */
header nav{
    padding: 20px 10px;
}
header .hamburguesa{
    width: 50px;
    cursor: pointer;
}
header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;
}
/* logo y hamburgesa ocupando el 50% */
header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ul ocupando al 100% */
header nav ul{
    width: 100%;
}
/* tamano de la imagen */
header nav .logo{
    max-width: 110px;
}

/* items */
/* convierto todo el elemento (bloque) en boton */
header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}
header nav ul li a:hover{
    color: var(--color-principal);
}
/* en pagina activa siempre texto de boton en rojo */
header nav ul li .activo{
    color: var(--color-principal);
}

/* media queries tablet 768px */
/*  min-width define el mínimo tamaño que un elemento puede tener.
    min-width: todos los estilos especificados serán aplicados a partir del min-width hacia adelante. */
@media(min-width: 48em){
    header .nav_top a span{
        display: inline;
        
    }
}
/* tablet horizontal 1004px */
@media(min-width: 62.750em){
    header .hamburguesa{
        display: none;
    }
    /* reparte ancho automatico */
    header nav ul{
        width: auto;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        padding: 5px 20px;
        /* border-bottom: none; */
        border-bottom: 0px;
    }  
    
}

/* FIN header */

/* INICIO footer */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;
    /* cambio en position y pierdo el ancho - volver a definir */
    width: 100%;
    margin-top: 20px;
    bottom: 0px;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
}

@media(min-width: 48em){
    footer{
        text-align: left;
        
    }
}

/* FIN footer */

/* INICIO main section blogs */

main section{
    padding: 2.125em 0.825em;
}
main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color: var(--color-principal);
}
/* mover linea y la X */
main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}
main section .underline hr{
    position: absolute;
    width: 100%;
    top: -2px;
    border-color: var(--color-principal);
    /* hr es un borde (linea=borde) */
    /* al subirlo una capa y al no tener ancho ni alto = no se ve. necesito darle ancho */
}
/* doy un disposicion flexible particular a esta section
flex wrap adapta al 100% del elemento.
29 px = 1.825em */
main #blog .row{
    flex-wrap: wrap;
    margin-bottom: 30px;
}
main #blog article{
    width: 50%;
    padding: 1.25em 1.25em;
    position: relative;
    /* posicion relativa para hacer cambio de eje a (main #blog article .fecha) */

}
main #blog article h3{
    font-size: 1.30em;
    margin: 1em 0.20em;
    font-weight: 700;
    /* tamano de la fuente importada */
}
main #blog article h2{
    color: var(--color-principal);
    font-family: var(--fuentePrincipal);
    font-size: 1.05em;
    text-align: left;
    font-weight: 700;
    margin: 0 0.20em;
}
main #blog article p{
    font-size: 1.05em;
    margin: 1.25em 0.20em;
    line-height: 30px;
}
main #blog article .fecha{
    position: absolute;
    background-color: var(--color-principal-opacity); 
    color: white;
    font-size: 1.60em;
    font-weight: 700;
    text-align: center;
    padding: 15px 18px;
    top: -12px;
    left: 15px;
}
.enlace{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1.05em;
    font-weight: 700;
    margin: 0 0.20em;
    display: block;
     /* a es una linea, pasarlo a block */
}

/* tablet horizontal 1004px */
@media(min-width: 62.750em){
    main #blog article{
        width: 33.333%;
        /* sin box sizing (creace hacia dentro) hay que tener en cuenta los bordes px */
    }
}

/* FIN main section blogs */